@import "utils";

.common.responsive {
  width: 1200px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  height: 100%;
  transition: width .3s ease-in-out;
  @include media("<wide") {
    width: $x-large-w;
  }
  @include media("<x-large") {
    width: $large-w;
  }
  @include media("<large") {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
