@import "utils";
.PaintingCard{
    margin: 0.875rem;
    width: calc((100% - 8.75rem) / 5);
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    @include media("<=x-wide") {
      width: calc(33.333% - 1.75rem);
    }
    @include media("<=wide") {
      width: calc(33.333% - 1.75rem);
    }
    @include media("<=x-large") {
      width: calc(50% - 1.75rem);
    }
    @include media("<=large") {
      width: calc(100% - 1.75rem);
    }
    .subinfo{
        float: right;
    }
    &>.thumbnail-wrapper {
        width: 100%;
        padding-top: 20%;
        position: relative;
        display: block;
        img {
          width: 100%;
        }
    }
    .card-content{
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}