.PageTemplate {
    height: 100%;
    main {
      height: 100%;
    }
    header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
    }
    .rest{
      display: flex;
      width: 100%;
      height: calc(100vh - 4rem);
      position: relative;
      padding-top: 8.5rem;
    }
  }